<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Botonera_Relays.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Botonera_Relays.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Botonera_Relays.Properties.Settings>
            <setting name="Nombre_App" serializeAs="String">
                <value>Botonera de Relays</value>
            </setting>
        </Botonera_Relays.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Botonera_Relays.Properties.Settings>
            <setting name="Disp_Default" serializeAs="String">
                <value>Caja</value>
            </setting>
        </Botonera_Relays.Properties.Settings>
    </userSettings>
</configuration>